﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Contoso.Umbraco.PublishedContentModels

@{
    if (ViewBag.ShowBreadcrumb == false || !UmbracoContext.PageId.HasValue)
    {
        return;
    }

    var ancestors = UmbracoContext.ContentCache
                    .GetById(UmbracoContext.PageId.Value)
                    .AncestorsOrSelf()
                    .Where(x => x.IsComposedOf(ContentModels.Navigation.ModelTypeAlias))
                    .Select(x => new ContentModels.Navigation(x))
                    .Reverse();

    if(ancestors.Count() < 2)
    {
        return;
    }
}

<ol class="breadcrumb">
    @foreach (var content in ancestors)
    {
        if (content.Id == ancestors.Last().Id)
        {
            <li class="breadcrumb-item active">@content.NavigationTitle</li>

            continue;
        }
        <li class="breadcrumb-item"><a href="@content.Url">@content.NavigationTitle</a></li>
    }
</ol>