﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Carousel>
@using ContentModels = Contoso.Umbraco.PublishedContentModels

@{
    if (Model.Content.Slides.Count() == 0)
    {
        return;
    }

    var carouselId = $"carousel-{Guid.NewGuid().ToString("n")}";
}

<div id="@carouselId" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Content.Slides.Count(); i++)
        {
            <li data-target="#@carouselId" data-slide-to="i" class="@(i == 0 ? "active" : string.Empty)"></li>
        }
    </ol>
    <div class="carousel-inner">
        @foreach (var field in Model.Content.Slides)
        {
            var active = string.Empty;

            if (field.Id == Model.Content.Slides.First().Id)
            {
                active = "active";
            }

            var title = field.GetValue<string>("carouselTitle");
            var description = field.GetValue<string>("carouselDescription");
            var linkedContent = field.GetValue<RJP.MultiUrlPicker.Models.Link>("carouselLink");
            var imageContent = field.GetValue<IPublishedContent>("carouselImage");

            <div class="carousel-item @active">
                <img class="d-block w-100" src="@(imageContent.Url)?width=800&height=300" alt="@title">
                @if (!title.IsNullOrWhiteSpace() || description.IsNullOrWhiteSpace() || linkedContent != null)
                {
                    <div class="carousel-caption d-none d-md-block">
                        @if (!title.IsNullOrWhiteSpace())
                        {
                            <h3>@title</h3>
                        }
                        @if (!description.IsNullOrWhiteSpace())
                        {
                            <p>@description</p>
                        }
                        @if (linkedContent != null)
                        {
                            <a class="btn btn-primary px-4" href="@linkedContent.Url" target="@linkedContent.Target">
                                @linkedContent.Name
                            </a>
                        }
                    </div>
                }
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#@carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#@carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> 