﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Jumbotron>
@using ContentModels = Contoso.Umbraco.PublishedContentModels

<div class="jumbotron">
    <h1 class="display-3">@Model.Content.JumbotronTitle</h1>
    <p class="lead">@Model.Content.JumbotronSummary</p>

    @if (!Model.Content.JumbotronLinkDescription.IsNullOrWhiteSpace() || Model.Content.JumbotronLink != null)
    {
        <hr class="my-4">

        if (!Model.Content.JumbotronLinkDescription.IsNullOrWhiteSpace())
        {
            <p>@Model.Content.JumbotronLinkDescription</p>
        }

        if (Model.Content.JumbotronLink != null)
        {
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="@Model.Content.JumbotronLink.Url" target="@Model.Content.JumbotronLink.Target" role="button">
                    @Model.Content.JumbotronLink.Name
                </a>
            </p>
        }
    }
</div>