﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.IMetadata>
@using ContentModels = Contoso.Umbraco.PublishedContentModels

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>@Model.Content.MetaTitle</title>
<meta name="description" content="@Model.Content.MetaDescription">
<meta name="keywords" content="@string.Join(",", Model.Content.MetaKeywords)">
<meta property="og:title" content="@Model.Content.MetaTitle" />
<meta property="og:description" content="@Model.Content.MetaDescription" />
<meta property="og:url" content="@Request.Url" />

@if (Model.Content.HasValue("metaImage"))
{
    var image = new ContentModels.Image(Model.Content.MetaImage);

    <meta property="og:image" content="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url" />
    <meta property="og:image:type" content="image/@image.UmbracoExtension" />
    <meta property="og:image:width" content="@image.UmbracoWidth" />
    <meta property="og:image:height" content="@image.UmbracoHeight" />
}