﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Contoso.Umbraco.PublishedContentModels
@using Contoso.Umbraco.Examine;

@{
    var searcher = ExamineManager.Instance.SearchProviderCollection["ExternalSearcher"];
    var criteria = searcher
        .CreateSearchCriteria()
        .IsContent()
        .And()
        .IsComposedOf(ContentModels.Navigation.ModelTypeAlias)
        .Not()
        .IsHideOnMenu()
        .Compile();
}

<div class="collapse navbar-collapse" id="primary-navbar-menu">
    <ul class="navbar-nav mr-auto">
        @foreach (var item in Umbraco.TypedSearch(criteria).Select(x => new ContentModels.Navigation(x)))
        {
            if (item.Id == UmbracoContext.PageId)
            {
                <li class="nav-item active">
                    <a class="nav-link" href="@item.Url">@item.NavigationTitle <span class="sr-only">(current)</span></a>
                </li>
                continue;
            }

            <li class="nav-item">
                <a class="nav-link" href="@item.Url">@item.NavigationTitle</a>
            </li>
        }
    </ul>
</div>