﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@using ContentModels = Contoso.Umbraco.PublishedContentModels
@using Terratype
@{
    Layout = "Master.cshtml";

    var contactPage = new ContentModels.Contact(CurrentPage);
}
<h1>Contact</h1>
<hr/>
<div class="row">
    <div class="col-md-6">
        <p>Office: <strong>@contactPage.ContactTitle</strong></p>
        <div class="well">
            @contactPage.ContactDescription
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            @Html.Terratype(contactPage.ContactMap)
        </div>
    </div>
</div>
