﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Contoso.Umbraco.PublishedContentModels
@{
    Layout = null;

    var rootContent = UmbracoContext.ContentCache.GetAtRoot().FirstOrDefault(x => x.IsComposedOf(ContentModels.SiteIdentity.ModelTypeAlias));
    var identity = new ContentModels.SiteIdentity(rootContent);
}
<!doctype html>
<html>
<head>
    @Html.Partial("Features/Metadata", Model.Content)
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand" href="@identity.Url">@identity.SiteName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar-menu" aria-controls="primary-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.Partial("Features/PrimaryMenu")
    </nav>
    <main>
        <section class="container-fluid">
            @Html.Partial("Features/Breadcrumb")
            @RenderBody()
        </section>
        <footer class="bg-light">
            <div class="text-center py-5">
                <small>@identity.Copyright</small>
            </div>
        </footer>
    </main>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

